.splotch {
  display: inline-block;
  width: 100%;
  height: 50px;
  display: grid;
  place-content: center;
  font-family: "roboto mono", monospace;
  line-height: 1rem;
  text-align: center;
}
.hex {
  font-weight: bold;
}
.hex::before {
  content: "#";
}
.hsl {
  font-weight: lighter;
  font-size: smaller;
}
